body {
    font-family: DIN pro;
}

#main-container {
    margin: auto;
    display: flex;
}

#main-column {
    flex: 0 0 67%;
    margin: auto;
    width: 676px;
}

#minor-column {
    flex: 0 0 27.7%
}

#stock-chart {
    margin-top: 40px;
}

body#gary {
    font-family: DIN pro;
    font-size: 13px;
}

div#displayTop {
    margin: 30px 0 0 0;
}

p.topic {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.14px;
    font-weight: 500;
}

div.Components {
 margin: 30px 0 30px 11.5px;
 width: 676px;
}